<h1 class="mb-4">Liste des rendez-vous</h1>

<div *ngIf="appointments.length === 0; else appointmentTable" class="text-center p-5 border rounded bg-light">
  <p>Il n'''y a aucun rendez-vous pour le moment.</p>
  <a class="btn btn-primary" routerLink="/booking">Prendre un rendez-vous</a>
</div>

<ng-template #appointmentTable>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Nom du patient</th>
          <th>Date</th>
          <th>Heure</th>
          <th>Motif</th>
          <th>Email</th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of appointments">
          <td>{{element.patientName}}</td>
          <td>{{element.appointmentDate | date:'dd/MM/yyyy'}}</td>
          <td>{{element.appointmentTime}}</td>
          <td>{{element.consultationType}}</td>
          <td>{{element.patientEmail}}</td>
          <td>{{element.patientPhone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
