<h1 class="mb-4">Liste des rendez-vous</h1>

<div *ngIf="appointments.length === 0; else appointmentTable" class="text-center p-5 border rounded bg-light">
  <p>Il n'y a aucun rendez-vous pour le moment.</p>
  <a class="btn btn-primary" routerLink="/booking">Prendre un rendez-vous</a>
</div>

<ng-template #appointmentTable>
  <p-table [value]="appointments" class="mt-5">
   <ng-template pTemplate="header">
            <tr>
              <th>Nom du patient</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Motif</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Actions</th>
            </tr>
   </ng-template>
   <ng-template pTemplate="body" let-appointment>
            <tr>
              <td>{{appointment.patientName}}</td>
              <td>{{appointment.appointmentDate | date:'dd/MM/yyyy'}}</td>
              <td>{{appointment.appointmentTime}}</td>
              <td>{{appointment.consultationType.label}}</td>
              <td>{{appointment.patientEmail}}</td>
              <td>{{appointment.patientPhone}}</td>
              <td class="flex flex-row flex-wrap gap-2">
                <button type="button" class="btn btn-primary" (click)="showDialog(appointment)">
                  <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-info" (click)="onUpdate()">
                  <i class="bi bi-pencil"></i>
                </button> 
                <button class="btn btn-danger" (click)="onDelete(appointment)">
                <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
   </ng-template>
</p-table>
</ng-template>
<app-dialog></app-dialog>



