<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Inscription</h3>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email"
            [class.is-invalid]="email.dirty && email.invalid">
                @if(email.dirty) {
                  @if (email.hasError('required')) {
                  <div class="invalid-feedback">L'adresse e-mail est requise.</div>
                  }
                  @if(email.hasError('email')) {
                  <div class="invalid-feedback">L'adresse e-mail doit être valide.</div>
                  }
                }
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password"
            [class.is-invalid]="password.dirty && password.invalid">
                @if(password.dirty) {
                  @if (password.hasError('required')) {
                    <div class="invalid-feedback">Le mot de passe est requis.</div>
                  }
                  @if (password.hasError('minlength')) {
                    <div class="invalid-feedback">Le mot de passe doit contenir au moins 6 caractères.</div>
                  }
                }
          </div>
          <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">S'''inscrire</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <a routerLink="/login">Déjà un compte ? Connectez-vous</a>
        </div>
      </div>
    </div>
  </div>
</div>